In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("job_data_analyst_details.csv")
df

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Founded,Type of ownership,Industry,Revenue,Competitors,Easy Apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",1961,Nonprofit Organization,Social Assistance,$100 to $500 million (USD),-1,TRUE
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",1893,Nonprofit Organization,Health Care Services & Hospitals,$2 to $5 billion (USD),-1,-1
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",2003,Company - Private,Internet,Unknown / Non-Applicable,GoDaddy,-1
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",2002,Subsidiary or Business Segment,IT Services,$50 to $100 million (USD),-1,-1
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",2009,Company - Private,Sports & Recreation,$100 to $500 million (USD),DraftKings,TRUE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,2248,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K (Glassdoor est.),Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",-1,Company - Private,Staffing & Outsourcing,Unknown / Non-Applicable,-1,-1
2249,2249,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",1935,Company - Public,Wholesale,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",-1
2250,2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K (Glassdoor est.),"Title: Technical Business Analyst (SQL, Data a...",-1.0,Spiceorb,"Denver, CO",-1,-1,-1,-1,-1,-1,-1
2251,2251,"Data Analyst 3, Customer Experience",$78K-$104K (Glassdoor est.),Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",1984,Company - Private,Enterprise Software & Network Solutions,$25 to $50 million (USD),-1,-1
2252,2252,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",1864,Nonprofit Organization,Health Care Services & Hospitals,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",-1

In [4]:
# Filter perusahaan di industri Video Games dengan Rating > 4.5
antoni_df = df[(df['Industry'] == 'Video Games') & (df['Rating'] > 4.5)]

# Ambil lokasi perusahaan yang memenuhi kriteria
antoni_locations = antoni_df['Location'].unique()

# Output lokasi
print("Lokasi perusahaan yang memenuhi kriteria Antoni:", antoni_locations)

Lokasi perusahaan yang memenuhi kriteria Antoni: ['Santa Monica, CA']

In [5]:
# Filter perusahaan dengan lokasi mengandung kata "Houston"
houston_df = df[df['Location'].str.contains('Houston', na=False)]

# Hitung rata-rata Rating
houston_avg_rating = houston_df['Rating'].mean()

# Output rata-rata Rating
print("Rata-rata Rating di lokasi Houston:", houston_avg_rating)

Rata-rata Rating di lokasi Houston: 3.2780821917808223

In [6]:
# Filter perusahaan dengan Industry = 'Internet' dan Founded > 2015
internet_df = df[(df['Industry'] == 'Internet') & (df['Founded'] > 2015)]

# Hitung jumlah lowongan berdasarkan Job Title
job_counts = internet_df['Job Title'].value_counts()

# Ambil Job Title dengan lowongan terbanyak
most_jobs_title = job_counts.idxmax()

# Output Job Title
print("Job Title dengan lowongan terbanyak:", most_jobs_title)

Job Title dengan lowongan terbanyak: Senior Data Analyst

In [7]:
# Filter perusahaan dengan Founded = 2018
df1 = df[df['Founded'] == 2018]

# Filter perusahaan dengan Founded = 1995
df2 = df[df['Founded'] == 1995]

# Gabungkan kedua dataframe
appended_df = pd.concat([df1, df2])

# Hitung total lowongan pekerjaan
total_jobs_after_append = appended_df['Job Title'].count()

# Output total lowongan
print("Total lowongan setelah append:", total_jobs_after_append)

Total lowongan setelah append: 53

In [8]:
# Filter perusahaan dengan kriteria yang diberikan
filtered_df = df[(df['Founded'] > 2017) & (df['Rating'] >= 3.5) & (df['Rating'] <= 4.5)]

# Tambahkan kolom rating_baru
filtered_df['rating_baru'] = filtered_df['Rating'] + 0.5

# Hitung rata-rata rating_baru
avg_rating_baru = filtered_df['rating_baru'].mean()

# Output rata-rata rating_baru
print("Rata-rata rating_baru:", avg_rating_baru)

Rata-rata rating_baru: 4.26

/var/folders/9n/x7mp_yq17vv7shjpwl3wjwr40000gn/T/ipykernel_3669/2677263268.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['rating_baru'] = filtered_df['Rating'] + 0.5

In [10]:
# Filter df1: jobs dengan description mengandung "attitude" dan Rating >= 1
df1 = df[df['Job Description'].str.contains('attitude', case=False, na=False) & (df['Rating'] >= 1)]

# Filter df2: jobs di New York, NY dan Rating >= 1
df2 = df[(df['Location'] == 'New York, NY') & (df['Rating'] >= 1)]

# Gabungkan kedua dataframe
appended_df = pd.concat([df1, df2])

# Hitung rata-rata Rating
mean_rating = appended_df['Rating'].mean()

# Output rata-rata Rating
print("Mean Rating dari seluruh jobs yang tersedia:", mean_rating)

Mean Rating dari seluruh jobs yang tersedia: 3.711484593837535

In [11]:
# Filter lokasi Lake Success, NY atau Los Angeles, CA
filtered_df = df[(df['Location'].isin(['Lake Success, NY', 'Los Angeles, CA']))]

# Filter jobs yang mensyaratkan SQL
sql_jobs_df = filtered_df[filtered_df['Job Description'].str.contains('SQL', case=False, na=False)]

# Hitung total lowongan pekerjaan
total_sql_jobs = sql_jobs_df['Job Title'].count()

# Output total lowongan pekerjaan
print("Total lowongan pekerjaan yang mensyaratkan SQL:", total_sql_jobs)

Total lowongan pekerjaan yang mensyaratkan SQL: 61

In [12]:
df.to_excel("jbobobo.csv", index=False)

ValueError: No engine for filetype: 'csv'